<% if alert || notice %>
<div class="bs-toast toast toast-placement-ex m-5 fade <% if alert %>bg-danger<% else %>bg-success<% end %> bottom-0 end-0 show" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
<div class="toast-header">
    <i class="bx bx-bell me-2"></i>
    <div class="me-auto fw-semibold">Alert</div>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body"><%= alert.to_s %><br><%= notice %></div>
</div>
<% end %>